{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
  <div class="row">
    <div class="col-4 text-center">
      <img src="{% static 'assets/images/nobody.jpg' %}" width="75%" />
    </div>
    <div class="col-8">
      <!-- Title goes between these h2 tags -->
      <h2>{{ favourite.recipe.title }}</h2>
      <!-- Content goes directly underneath this -->
      {{ favourite.recipe.content | safe }}
    </div>

    <div class="container mt-5">
  <h2>My Favourite Recipes</h2>
  <ul>
    {% for fav in favourites %}
      <li>
        <a href="{% url 'recipe_detail' fav.recipe.slug %}">{{ fav.recipe.title }}</a>
      </li>
    {% empty %}
      <li>You have no favourite recipes yet.</li>
    {% endfor %}
  </ul>
</div>


  </div>
  <div class="row">
    <div class="col text-right">
      <!-- Updated on field goes in here -->

      <p class="text-end"><em>Updated on: {{ favourite.added_at }}</em></p>
    </div>
  </div>
</div>
{% endblock content %}