body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #cf5e5e;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.card-img-top {
    width: 100%;
    height:  400px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 80px;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
}

.scale {
    width: 100%;
    height: auto;
}

.rating {
    color: white;
    margin: 4px;
    text-transform: uppercase;
    margin-left: 10px;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #cf5e5e;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #cf5e5e;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.fave {
    color: #d30000;
    margin-top: 20px;
}

.latest {
    color: #d30000;
    margin-top: 20px;
}

.add-recipe {
    color: #d30000;
    margin-top: 20px;
}

.recipe-link {
    text-decoration: none;
    color: #445261;
}

.recipe-link:hover {
    color: #E84610;
}


.page-link {
    color: #ffffff;
    background-color: #505050;
    border-radius: 5px;
}

.page-link:hover {
    color: #ffffff;
    background-color: #cf5e5e; 
}

.recipe-title {
    margin-top: 10%;
    margin-left: 5%;
    padding: 20px;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #f6a6a6;
    color: #000000;
}

.btn-signup,
.btn-edit {
    background-color: #cf5e5e;
    color: #fff;
}

.btn-comment {
    background-color: #cf5e5e;
    color: #fff;
}

.btn-edit-recipe {
    background-color: #595757;
    color: #fff;
    margin-top: 20px;
}

.btn-browse {
    background-color: #595757;
    color: #fff;
}

.alert {
    background-color: #c48484;
    color: #fff;
}



.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-add {
    color: #ffffff;
    border: none;
    background-color: #cf5e5e;
    margin-bottom: 20px;
}

.btn-delete {
    color: #fff;
    background: #595757;
}

.btn-delete-recipe {
    color: #fff;
    background: #595757;
    margin-top: 20px;
}

.btn-favourite {
    color: #fff;
    background: #ff0000;
    border-radius: 5px;
}

.btn-remove {
    color: #fff;
    background: #ff0000;
    border-radius: 5px;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}